<div class="row">
    <div class="panel-heading" style="padding-top:50px;">
        <div class="form-group col-md-8">
            <h3>
                <i class="fa fa-table"></i>
                <span>Edit Registration</span>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div>
       <table>
            <tr>
                <td><label class="col-md-4">Vehicle Owner:</label></td>
                <td><input type="text" class="col-md-8" data-ng-model="Details.Owner" placeholder="Vehicle Owner" /></td>
            </tr>
            <tr>
                <td><label class="col-md-4">Mobile:</label></td>
                <td><input type="text" class="col-md-8" data-ng-model="Details.Mobile" placeholder="Mobile" /></td>
            </tr>
            <tr>
                <td><label class="col-md-4">Email</label></td>
                <td><input type="text" class="col-md-8" data-ng-model="Details.Email" placeholder="Email" /></td>
            </tr>
            <tr>
                <td><label class="col-md-4">Address:</label></td>
                <td><input type="text" class="col-md-8" data-ng-model="Details.Address" placeholder="Engine capacity" /></td>
            </tr>
            <tr>
                <td><label class="col-md-4">Manufacture:</label></td>
                <td><input type="text" class="col-md-8" data-ng-model="Details.Manufacture" placeholder="Manufacturer" /></td>
            </tr>
            <tr>
                <td><label class="col-md-4">Vehicle:</label></td>
                <td><input type="text" class="col-md-8" data-ng-model="Details.VehicleName" placeholder="Vehicle Name" /></td>
            </tr>
            <tr>
                <td><label class="col-md-4">Chasis No:</label></td>
                <td><input type="text" class="col-md-8" data-ng-model="Details.ChasisNo" placeholder="Chasis No" /></td>
            </tr>
            <tr>
                <td><label class="col-md-4">Color:</label></td>
                <td><input type="text" class="col-md-8" data-ng-model="Details.Color" placeholder="Color" /></td>
            </tr>
            <tr>
                <td><label class="col-md-4">Engine(cc):</label></td>
                <td><input type="text" class="col-md-8" data-ng-model="Details.Engine" placeholder="Engine capacity" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-default" type="submit" data-ng-click="save();" value="Update">Update</button></td>
            </tr>

        </table>
    </div>
</div>
